<div class="register">
    <div class="left-column">
      <img src="/assets/img/registro.jpg" alt="Imagen de registro">
    </div>
    <div class="right-column">
      <h1>Registro</h1>
      <form>
        <label for="firstName">Nombre</label>
        <input type="text" id="firstName" name="firstName"  required>
        
        <label for="lastName">Apellido</label>
        <input type="text" id="lastName" name="lastName"  required>
  
        <label for="username">Usuario</label>
        <input type="text" id="username" name="username"  required>
  
        <label for="id">ID</label>
        <input type="text" id="id" name="id"  required>
  
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password"  required>
  
        <button type="submit">Registrarme</button>
      </form>
    </div>
  </div>
  